
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


/*
GLOBALNI CSS
*/


body{
    font-family: 'roboto', sans-serif;
}

.navbar-brand img{
    height: 70px !important;
}

.jumbotron-homepage{
    padding: 7em;
}

.carousel-inner img{
    width: 100%;
    height: 100%;
}

.background{
    width: 100%;
}

.fixed{
    height: 600px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

.fixed-article{
    height: 400px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

figure{
    margin: 0px;
}

.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.jumbotron{
    background-color: #dfe6e9;
}


.fixed-background-caption{
    position: relative;
    top: 50%;
}

.article{
    padding: 5rem;
    width: 100%;
}

.gray-background{
    background-color: #dfe6e9;
}

.darker-gray-background{
    background-color: #b2bec3;
}

.footer-copyright{
    margin: 0px -15px;
}

.list-links li{
    margin: 10px;
}

.oglasna-pasica{
    padding: 5px;
}

/*
HOMEPAGE CSS
*/
.homepage-fixed{
    background-image: url(img/fixed-min.jpg);
}

/*
ZIVLJENJE CSS
*/

.zivljenje-fixed{
    background-image: url(img/rojstnaHisa-min.jpg);
    height: 400px;
}

/*
MATEMATIKA CSS
*/

.matematika-fixed{
    background-image: url(img/matematikaOzadje-min.jpeg);
    height: 400px;
}


/*
FIZIKA CSS
*/

.fizika-fixed{
    background-image: url(img/fizika-min.jpg);
    height: 400px;
}

/*
ZAIMJIVOSTI IN POIMENOVANJA CSS
*/

.poimenovanje-fixed{
    background-image: url(img/zanimjivosti.jpg);
}



/*
CSS PRELOMNE TOČKE ZA RESPONZIVNOST
*/

@media (max-width: 378px){
    .carousel-caption-valuta{
        top: 25% !important;
    }
}




@media (max-width: 492px) {
    .fixed-background-caption{
        top: 35% !important;
    }

    .display-1{
        font-size: 2.5rem !important;
    }

    .carousel-caption{
        top: 40%;
    }

}

@media (max-width: 575.98px) { 

    .background{
        max-width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

}

@media (max-width: 596px){
    .fixed-background-caption{
        top: 20%;
    }

    .display-1{
        font-size: 4rem;
    }


}

@media (max-width: 605px){
    .carousel-caption-valuta{
        top: 30%;
    }
}

@media (max-width: 878px){
    .display-1{
        font-size: 5rem;
    }
}


@media (max-width: 860px){
    .display-1{
        font-size: 4rem;
    }

    .fixed-background-caption{
        top: 40%;
    }
}

@media (max-width: 575px){
    .display-1{
        font-size: 3rem;
    }
}
/* 
<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
        <h1 class="display-4">Rojen 23. marca leta 1754 v Zagorici pri Dolenskem</h1>
</div>
<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
    <img src="img/removedbackgroud.png" alt="" id="background">
</div>
*/
